#card{
    width: 335px;
    margin: 0;
    padding: 0;
    height: 700px;
    margin-top: 80px;
    position: relative;
    z-index: 1
}
.card{
    width: 300px;
    height: 500px;
}
#des{
    height: 140px;
}
#lod{
    margin-top: 600px;
}